.About {
    width: 100%;


    background-color: white;

    position: relative;

}

.about-content {
    display: flex;
    max-width: 70rem;

    margin: 0 auto;

    padding: 140px 0;

}

.img-side img {
    width: 440px;
    border-radius: 25px;
}

.text-side {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.text-side h4 {
    margin-top: 4px;
    color: var(--title);
    font-size: 18px;
}
.text-side h3 {
    color: var(--mainColor);
    font-size: 25px;
}
.text-side p {
    margin-top: 19px;
    color: var(--secColor);
    font-size: 17px;
}