.Contact {
    width: 100%;


    background-color: white;

    position: relative;

}

.contact-content {
    display: flex;
    flex-direction: column;
    width: 1000px;

    margin: 0 auto;

    padding: 80px 50px 100px 50px;
}

.infos {
    display: flex;
    gap: 100px;

    margin-top: 50px;
}

.info {
    display: flex;
    font-size: 20px;
    gap: 30px;
}

.icon {
    color: red;
    font-size: 50px;
}

.info-text a {
    color: var(--secColor);
    font-size: 16px;
}
.info-text a:hover {
    color: red;
}
.info-text p {
    color: var(--secColor);
    font-size: 16px;
    cursor: pointer;
}
.info-text p:hover {
    color: red;
}

@media screen and (max-width: 1145px) {
    .contact-content {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .infos {
        flex-direction: column;
    }
}