.Home {
    width: 100%;
    height: 100vh;

    position: relative;
    top: 0;
    left: 0;

    padding: 0 50px;
}

.welcome {

    max-width: 70rem;
    margin: 0 auto;

    padding: 22vh 0 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid red;*/
}

.btn-and-socials {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}


.greeting h1 {
    font-size: 50px;
}
.greeting p {
    font-size: 18px;
}

.hero-img {
    width: 450px;
}

.myFace {
    background: url("https://schmiedtattiladev.s3.eu-north-1.amazonaws.com/newProfilePic.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: left center;
    height: 400px;
    width: 400px;

    box-shadow: 0 16px 5px 5px rgba(0,0,0,0.09);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;

    opacity: 0.9;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.greeting-socials {

    display: flex;
    gap: 12px;
}
.greeting-socials a {
    font-size: 30px;
}



.projectBtn {
    align-items: center;
    background-clip: padding-box;
    background-color: red;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.projectBtn:hover,
.projectBtn:focus {
    background-color: #e10000;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.projectBtn:hover {
    transform: translateY(-1px);
}

.projectBtn:active {
    background-color: #ee1919;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.tech-stack {
    max-width: 70rem;
    margin: 65px auto;


    display: flex;
    align-items: center;


    /*border: 1px solid red;*/
}
.tech-stack p {
    font-size: 18px;

}

.stacks {
    display: flex;


}
.first-stacks {
    display: flex;
    gap: 40px;
    margin-left: 50px;
}
.second-stacks {
    display: flex;
    gap: 40px;
    margin-left: 50px;
}

.stack {
    width: 40px;
    cursor: pointer;
}
.mobile-stack-view-first {
    display: flex;
    gap: 40px;
}
.mobile-stack-view-second {
    display: flex;
    gap: 40px;
}


@media screen and (max-width: 1145px) {
    .Home {
        height: 130vh;
    }
    .welcome {
        padding-top: 170px;
        flex-direction: column-reverse;
    }
    .greeting {
        margin-top: 30px;
        text-align: center;
    }
    .btn-and-socials {
        justify-content: center;
    }
    .tech-stack {
        flex-direction: column;
        justify-content: center;
    }
    .tech-stack p {
        margin-bottom: 35px;
    }

    .stacks {
        margin: 0;
        flex-direction: column;
        gap: 40px;
    }
    .first-stacks {
        margin: 0;
    }
    .second-stacks {
        margin: 0;
    }
}


@media screen and (max-width: 700px) {
    .Home {
        height: 130vh;
    }
    .myFace {
        width: 300px;
        height: 300px;
    }

}

@media screen and (max-width: 500px) {
    .Home {
        height: 100%;
    }
    .first-stacks {
        flex-direction: column;
    }
    .second-stacks {
        flex-direction: column;
    }
}