.Navbar {
    background-color: white;
    width: 100%;
    height: 80px;

    box-shadow: rgba(0, 0, 0, 0.09) 0 1px 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;

    position: fixed;
    z-index: 10;
}

.home-title {
    font-size: 19px;
    cursor: pointer;
}

.Navbar ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.Navbar li {
    list-style: none;
}
.navbar-menu-btn {
    display: none;
}
.mobile-nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}
.mobile-nav-menu {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: center;
    align-items: center;
}
.mobile-nav-menu a {
    font-size: 30px;
    font-weight: normal;
}
.mobile-nav-header {
    position: absolute;
    top: 26px;
    right: 50px;
}
.closed-menu {
    display: none;
}

@media screen and (max-width: 900px) {
    .Navbar ul {
        display: none;
    }
    .navbar-menu-btn {
        display: block;
        font-size: 24px;
    }

}