.Projects {
    width: 100%;
    padding: 150px 50px;
}

.projects {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projects-content {
    display: flex;
    flex-direction: column;
    max-width: 70rem;

    margin: 0 auto;



    /*border: 1px solid red;*/
}


.project-card {
    width: 100%;
    min-height: 400px;

    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 20px;
    background-color: white;

    display: flex;
    padding: 30px;
}

.img-card img {

    height: 370px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    cursor: pointer;
}



.text-card {
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-left: 25px;
}
.text-card-left {
    margin-left: 0;
    margin-right: 25px;
}

.text-card p {
    font-size: 19px;
}


.card-stacks {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-stack {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #cbcbcb;

    cursor: pointer;
}


.card-links {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 32px;
}

.card-links a {
    font-size: 22px;
}


.project-type {
    margin-top: 20px;
}

@media screen and (max-width: 1145px) {
    .Projects {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .project-card {
        flex-direction: column;
        width: 670px;
    }
    .img-card {
        display: flex;
        justify-content: center;
    }
    .project-card-left {
        flex-direction: column-reverse;
    }
}


